*{padding: 0px; margin: 0px;}

.Container{
    width: 1500px;
    margin: 0 auto;
}

body {
    background-color: rgb(252, 252, 252);
}

header{
    margin: 0 auto;
    width: 1500px;
    line-height: 100px;
    height: 100px;
    background-color: white;
    position: fixed;
    top: 0%;
    z-index: 2;
    transition: top 1s linear;
}

.LogoNav{
    float: left;
    width: 300px;
    height: 80px;
    margin-left: 20px;
    margin-top: 10px;
}

.LogoNav img{
    position: static;
    float: left;
    width: 250px;
    margin: 15px 10px 15px 45px;
}

.LogoNav a{
    text-decoration: none;
}

.LineKiriNav{
    position: static;
    float: left;
    border-left: 2px gray solid;
    height: 60px;
    width: 0px;
    margin-top: 20px;
    opacity: 25%;
}

header nav{
    margin-left: 45px;
    float: left;
    position: static;
}

header nav ul{
    list-style: none;
    float: left;
}

header nav ul li{
    float: left;
    margin-right: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}

#Navigator{
    font-size: 15px;
    text-decoration: none;
    color: #040e27;
    transition: color 0.3s;
    margin-right: 20px;
}

#Navigator:hover{
    color: rgb(72, 215, 215);
}

header nav ul li:hover .SubMenu{
    display: block;
}

.SubMenu {
    width: 240px;
    height: 200px;
    display: none;
    position: absolute;
    margin-top: -1px;
    border-top: 2px solid #fb313b;
}

.SubMenu li{
    width: 200px;
    background-color: white;
    line-height: 50px;
    height: 50px;
    float: none;
    position: relative;
    text-decoration: none;
    padding: 0px 20px;
}

.SubMenu li a{
    text-decoration: none;
    line-height: 50px;
    height: 50px;
    color: #040e27;
    position: absolute;
}

.SearchNav img{
    width: 26px;
    float: right;
    background-color: #fb313b;
    padding: 37px;
    margin-left: 20px;
    filter:brightness(1.6);
}

.ContactNav img{
    width: 18px;
    height: 18px;
    float: right;
    padding-top: 41px;
    margin: 0px 10px;
    filter: grayscale(0.85);
    opacity: 45%;
    transition: filter 0.5s;
}

.ContactNav img:hover{
    filter: grayscale(0);
    opacity: 75%;
}

#fb{
    width: 10px;
}

.LineKananNav{
    position: static;
    float: right;
    border-left: 2px gray solid;
    height: 26px;
    width: 0px;
    margin-top: 37px;
    margin-right: 25px;
    opacity: 25%;
}

.NoTelpNav p{
    font-size: 15px;
    font-family: Arial;
    float: right;
    margin-right: 20px;
    color: #040e27;
}

.NoTelpNav img{
    width: 18px;
    float: right;
    margin-top: 41px;
    margin-right: 10px;
}

.SliderArea{
    width: 1500px;
    height: 699px;
    position: static;
    z-index: 0;
}

.SliderArea .FotoSlider img{
    float: left;
    width: 1500px;
    height: 1000px;
    -webkit-clip-path: inset(100px 0px);
    margin-top: -201px;
    opacity: 1;
}

.SliderArea .FotoSlider .Text h1{
    width: 1500px;
    margin-top: 275px;
    position: absolute;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 100px;
    background-color: #ffdcba;
    color: gray;
    text-align: center;
    padding-bottom: 20px;
}

.SliderArea .FotoSlider .Text h2{
    position: absolute;
    width: 1500px;
    text-align: center;
    color: white;
    font-family: Arial; 
    font-size: 20px;
    margin-top: 400px;
    text-shadow: 0px 0px 15px black;
}

.SliderArea .FotoSlider .Text .Button{
    position: absolute;
    width: 1500px;
    text-align: center;
    font-size: 18px;
    margin-top: 475px;
}

.SliderArea .FotoSlider .Text .Button h3{
    margin: auto;
    text-align: center;
    width: 150px;
    background-color: rgb(72, 215, 215);
    cursor: pointer;
    padding: 10px 25px;
    border-radius: 5px;
    color: white;
    font-family: Arial; 
}


.SliderArea .FotoSlider .Text .Button h3:hover{
    background-color: #fb313b;
    filter: brightness(1.6);
    box-shadow : 0px 0px 10px black;
    transition: background-color 0.5s;
}

.WhereToGoArea{
    width: 1500px;
    height: 100px;
    background-color: #121a32;
    position: static;
}

.WhereToGoArea .Kiri{
    position: absolute;
    margin: 35px 10px 0px 200px;
}

.WhereToGoArea .Kiri h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 21px;
}

.WhereToGoArea .Tengah .ItemForm .Form1{
    position: absolute;
    margin: 25px 10px 0px 475px;
}

.WhereToGoArea .Tengah .ItemForm .Form1 input{
    width: 200px;
    line-height: 26px;
    background-color: rgba(0,0,0,0);
    margin: 2px;
    padding: 10px;
    border-radius: 5px;
    border: 0.2px solid rgb(71, 70, 70);
    color: white;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Form1 input::placeholder{
    color: white;
}

.WhereToGoArea .Tengah .ItemForm .Form2{
    position: absolute;
    margin: 25px 10px 0px 710px;
}

.WhereToGoArea .Tengah .ItemForm .Form2 input{
    width: 200px;
    line-height: 24px;
    background-color: rgba(0,0,0,0);
    margin: 2px;
    padding: 10px;
    border-radius: 5px;
    border: 0.2px solid rgb(71, 70, 70);
    color: white;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor:text;
}

.WhereToGoArea .Tengah .ItemForm .Form3{
    position: absolute;
    margin: 25px 10px 0px 945px;
}

.WhereToGoArea .Tengah .ItemForm .Form3 select{
    width: 200px;
    background-color: rgba(0,0,0,0);
    padding: 14px;
    margin: 2px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    border: 0.2px solid rgb(71, 70, 70);
    cursor: pointer;
    border-radius: 5px;
}

.WhereToGoArea .Tengah .ItemForm .Form3 select option{
    font-size: 15px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5px 20px;

}

.WhereToGoArea .Kanan {
    position: absolute;
    margin: 25px 10px 0px 1175px;
}

.WhereToGoArea .Kanan button{
    width: 150px;
    line-height: 29px;
    background-color: #fc5d65;
    margin: 2px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
    transition: background-color 0.8s;
    border: 0px solid white;
}

.WhereToGoArea .Kanan button:hover{
    background-color: rgb(72, 215, 215);
}

.PopularDestinationArea{
    width: 1500px;
    height: auto;
    position: static;
    margin-top: 20px;
}

.PopularDestinationArea h1{
    position: static;
    font-size: 26px;
    margin-top: 100px;
    margin-bottom: 15px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.PopularDestinationArea h2{
    position: static;
    font-size: 15px;
    width: 400px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: auto;
    color: rgb(148, 148, 148);
}

.PopularDestinationArea .PDAKiri{
    width: 460px;
    margin: 20px 20px;
    position: static;
    display: inline-block;
}

.PopularDestinationArea .PDATengah{
    width: 460px;
    position: static;
    margin: 20px 10px;
    display: inline-block;
}

.PopularDestinationArea .PDAKanan{
    width: 460px;
    margin: 20px 20px;
    position: static;
    display: inline-block;
}

.PopularDestinationArea .ContentPDA {
    position: static;
    width: 460px;
    height: 300px;
    margin-bottom: 40px;
}


.PopularDestinationArea .ContentPDA img{
    position: absolute;
    width: 460px;
    height: 300px;
    filter:grayscale(0.4);
    border-radius: 10px;
    transition: margin-top 0.4s;
}

.PopularDestinationArea .ContentPDA p{
    position: absolute;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    margin-top: 225px;
    margin-left: 30px;
    color: white;
    transition: color 0.4s;
    transition: margin-top 0.4s;
}

.PopularDestinationArea .ContentPDA a{
    position: absolute;
    background: rgb(72, 215, 215);
    padding: 5px 20px;
    font-size: 16px;
    border-radius: 20px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 232px;
    transition: background-color 0.4s;
    transition: margin-top 0.4s;
    cursor: pointer;
}

.PopularDestinationArea .ContentPDA:hover img{
    margin-top: -10px;
}

.PopularDestinationArea .ContentPDA:hover p{
    color: #fc5d65;
    margin-top: 215px;
}

.PopularDestinationArea .ContentPDA:hover a{
    background-color: #fc5d65;
    margin-top: 218px;
}

.NewsLetterArea{
    margin-top: 150px;
    position: static;
    width: 1500px;
    height: 200px;
    background-color: rgb(54, 51, 70);
}

.NewsLetterArea .LetterKiri{
    position: absolute;
    width: 400px;
    margin-top: 60px;
    margin-left: 300px;
}

.NewsLetterArea .LetterKiri h1{
    color: white;
    font-size: 26px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 15px;
}

.NewsLetterArea .LetterKiri h2{
    width: 300px;
    color: white;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(148, 148, 148);
}

.NewsLetterArea .LetterKanan{
    position: absolute;
    margin-top: 60px;
    margin-left: 700px;
}

.NewsLetterArea .LetterKanan .InputText{
    width: 300px;
    line-height: 26px;
    background-color: white;
    border: 0px solid red;
    margin: 2px;
    padding: 10px;
    border-radius: 5px;
    color: black;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 15px;
    margin-left: -50px;
    position: absolute;
    z-index: 1;
}

.NewsLetterArea .LetterKanan .InputText::placeholder{
    padding-left: 10px;
}

.NewsLetterArea .LetterKanan button{
    position: absolute;
    width: 150px;
    line-height: 26px;
    background-color: #fc5d65;
    margin: 2px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 0px solid white;
    margin-top: 15px;
    margin-left: 290px;
    z-index: 1;
}

.NewsLetterArea .LetterKanan button:hover{
    background-color: rgb(72, 215, 215);
}




.PopularPlacesArea{
    width: 1500px;
    height: auto;
    position: static;
    margin-top: 20px;
}

.PopularPlacesArea h1{
    position: static;
    font-size: 26px;
    margin-top: 100px;
    margin-bottom: 15px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.PopularPlacesArea h2{
    position: static;
    font-size: 15px;
    width: 400px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: auto;
    color: rgb(148, 148, 148);
}

.PopularPlacesArea .PPAKiri{
    width: 460px; 
    margin: 20px 20px;
    position: static;
    display: inline-block;
    height: 1000px;
}

.PopularPlacesArea .PPATengah{
    width: 460px;
    position: static;
    margin: 20px 10px;
    display: inline-block;
    height: 1000px;
}

.PopularPlacesArea .PPAKanan{
    width: 460px;
    margin: 20px 20px;
    position: static;
    display: inline-block;
    height: 1000px;
}

.ContentPPA {
    position: static;
    width: 460px;
    height: 400px;
    border-radius: 10px;
    margin-bottom: 50px;
}

.ContentPPA:hover .ContentAtasPPA h1{
    background-color:#fc5d65;
}

.ContentPPA:hover .ContentBawahPPA h1{
    color:#fc5d65;
}

.ContentPPA:hover .BawahPPA{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
}

.ContentPPA .AtasPPA{
    width: 460px;
    height: 200px;
    position: static;
    z-index: 0;
}

.ContentPPA .AtasPPA .ContentAtasPPA{
    position: absolute;
}

.ContentAtasPPA h1{
    position: absolute;
    background-color: rgb(72, 215, 215);
    padding: 10px 15px;
    border-radius: 15px;
    margin-top: 15px;
    margin-left: 15px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.ContentAtasPPA img{
    position: absolute;
    width: 460px;
    height: 260px;
    border-radius: 10px 10px 0px 0px;
}

.ContentPPA .BawahPPA{
    width: 460px;
    height: 200px;
    position: static;
    background-color: white;
    z-index: 1;
    border-radius: 10px;
    transition: box-shadow 0.3s;
}

.ContentBawahPPA h1{
    position: absolute;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 90px;
    margin-left: 15px;
    transition: color 0.3s;
    cursor: pointer;
}

.ContentBawahPPA h2{
    position: absolute;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 130px;
    margin-left: 15px;
    text-align: left;
}

.ContentBawahPPA .RatingPPA{
    position: absolute;
    margin-top: 160px;
    margin-left: 15px;
}

.checked{
    color: orange;
}

.ContentBawahPPA h3{
    position: absolute;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 159px;
    margin-left: 115px;
    text-align: left;
    font-size: 15px;
    color: rgb(148, 148, 148);
    cursor: pointer;
}

.ContentBawahPPA img{
    width: 15px;
    position: absolute;
    margin-top: 160px;
    margin-left: 365px;
}

.PPAAnchor{
    position: absolute;
    width: 1500px;
    text-align: center;
    font-size: 18px;
    margin-top: -50px;
}

.PPAAnchor a{
    background-color: #fb313b;
    padding: 20px 50px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    transition: background-color 0.3s;
}

.PPAAnchor:hover a{
    background-color: rgb(72, 215, 215);
}

.VideoArea{
    width: 1500px;
    height: 690px;
    margin-top: 175px;
}

.VideoArea img{
    width: 1500px;
    height: 690px;
    position: absolute;
}

.VideoArea h1{
    width: 1500px;
    position: absolute;
    text-align: center;
    margin: auto;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 200px;
    font-size: 75px;
    font-weight: bolder;
}

.PlayButton{
    position: absolute;
}

.VideoArea .PlayButton h2{
    width: 1500px;
    position: absolute;
    color: white;
    margin-top: 400px;
    text-align: center;
    font-size: 40px;
}

.PlayButton h2 a{
    text-decoration: none;
    color: white;
}

.PlayButton .Blank {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: rgb(72, 215, 215);
    position: absolute;
    margin-left: 691px;
    margin-top: 365px;
    cursor: pointer;
}

.TravelArea{
    width: 1500px;
    height: 600px;
    background-color: blue;
}

.TravelArea .TAKiri{
    width: 500px;
    height: 600px;
    background-color: white;
    float: left;
}

.TravelArea .TATengah{
    width: 500px;
    height: 600px;
    background-color: white;
    float: left;
}

.TravelArea .TAKanan{
    width: 500px;
    height: 600px;
    background-color: white;
    float: left;
}

.ContentTA img{
    width: 80px;
    height: 80px;
    margin-left: 200px;
    margin-top: 150px;
    filter: contrast(0.6);
}

.ContentTA h1{
    margin: auto;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 30px;
}

.ContentTA h2{
    width: 390px;
    margin: auto;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 10px;
    font-size: 18px;
    color: rgb(148, 148, 148);
}

.TestimoniArea{
    width: 1500px;
    height: 570px;
}

.TestimoniArea img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 675px;
    margin-top: 120px;
}

.TestimoniArea h1{
    position: absolute;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    text-align: center;
    font-size: 70px;
    font-weight: lighter;
    color: white;
    background-color: rgb(72, 215, 215);
    margin-left: 780px;
    margin-top: -60px;
}

.TestimoniArea h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 700px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
}

.TestimoniArea h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: auto;
    text-align: center;
    margin-top: 10px;
    color:rgb(148, 148, 148);
}

.TestimoniDot{
    font-size: 150px;
    color: rgb(148, 148, 148);
    text-align: center;
    margin-top: -90px;
    margin-left: 55px;
}

.TestimoniDot span{
    cursor: pointer;
    margin-left: -40px;
}

.RecentArea{
    width: 1500px;
    height: 1000px;
    background-color: white;
    margin-top: 120px;
}

.RecentArea h1{
    width: 1500px;
    position: absolute;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 45px;
    margin-top: 150px;
}

.RAKiri{
    position: absolute;
    width: 470px;
    height: 500px;
    margin-left: 20px;
    margin-top: 300px;
}

.RAKiri:hover .ContentRA h1{
    color:#fc5d65;
}

.RATengah:hover .ContentRA h1{
    color:#fc5d65;
}

.RAKanan:hover .ContentRA h1{
    color:#fc5d65;
}

.RATengah{
    position: absolute;
    width: 470px;
    height: 500px;
    margin-left: 520px;
    margin-top: 300px;
}

.RAKanan{
    position: absolute;
    width: 470px;
    height: 500px;
    margin-left: 1020px;
    margin-top: 300px;
}

.ContentRA img{
    width: 470px;
    height: 300px;
    border-radius: 10px;
}

.ContentRA h2{
    color: rgb(148, 148, 148);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin-top: 15px;
    font-weight: lighter;
}

.RAKiri .ContentRA h1{
    text-align: left;
    margin-top: 15px;
    width: 470px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s;
}

.RATengah .ContentRA h1{
    text-align: left;
    margin-top: 15px;
    width: 470px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s;
}

.RAKanan .ContentRA h1{
    text-align: left;
    margin-top: 15px;
    width: 470px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s;
}

footer{
    width: 1500px;
    height: 600px;
    background-color:#121a32;
}

.FooterAtas{
    width: 1500px;
    height: 500px;
}

.FooterAtas .Kolom1{
    width: 300px;
    height: 500px;
    border-bottom: 1px solid rgb(148, 148, 148);
    margin-left: 125px;
    float: left;
}

.FooterAtas .Kolom1 .Baris1{
    position: absolute;
    width: 350px;
    height: 50px;
    margin-top: 90px;
}

.FooterAtas .Kolom1 .Baris1 img{
    float:left;
    width: 200px;
    height: 50px;
}



.FooterAtas .Kolom1 .Baris2{
    position: absolute;
    width: 350px;
    margin-top: 140px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.FooterAtas .Kolom1 .Baris2 h1{
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #aab1b7;
    font-weight: lighter;
}

.FooterAtas .Kolom1 .Baris3{
    width: 350px;
    height: 50px;
    position: absolute;
    margin-top: 320px;
}

.FooterAtas .Kolom1 .Baris3 .BarisIcon{
    width: 350px;
    height: 50px;
    position: absolute;
    margin-left: -30px;
}

.BarisIcon img{
    height: 20px;
    margin-left: 40px;
    margin-top: 10px;
    filter: grayscale(1.6);
    transition: filter 0.3s;
}

.BarisIcon img:hover{
    filter: grayscale(0);
}

.FooterAtas .Kolom2{
    width: 300px;
    height: 500px;
    border-bottom: 1px solid rgb(148, 148, 148);
    float: left;
}

.FooterAtas .Kolom2 h1{
    margin-left: 90px;
    margin-top: 90px;
    margin-bottom: 50px;
    color:white;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.FooterAtas .Kolom2 h2{
    margin-left: 90px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: #aab1b7;
    margin-bottom: 10px;
    cursor: pointer;
    transition: color 0.3s;
}

.FooterAtas .Kolom3{
    width: 300px;
    height: 500px;
    border-bottom: 1px solid rgb(148, 148, 148);
    float: left;
}

.FooterAtas .Kolom3 .K3Atas h1{
    margin-left: 20px;
    margin-top: 90px;
    margin-bottom: 50px;
    color:white;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.FooterAtas .Kolom3 .K3Bawah .K3BawahKiri{
    position: absolute;
}

.FooterAtas .Kolom3 .K3Bawah .K3BawahKiri h2{
    margin-left: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: #aab1b7;
    margin-bottom: 10px;
}

.FooterAtas .Kolom3 .K3Bawah .K3BawahKiri h2 a{
    transition: color 0.3s;
}

.FooterAtas .Kolom3 .K3Bawah .K3BawahKanan{
    position: absolute;
    margin-left: 155px;
}

.FooterAtas .Kolom3 .K3Bawah .K3BawahKanan h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: #aab1b7;
    margin-bottom: 10px;
}

.FooterAtas .Kolom3 .K3Bawah .K3BawahKanan h2 a{
    transition: color 0.3s;
}

.Kolom2 h2:hover{
    color:#fc5d65;
}

.K3BawahKiri h2 a:hover{
    cursor: pointer;
    color:#fc5d65;
}

.K3BawahKanan h2 a:hover{
    cursor: pointer;
    color:#fc5d65;
}

.FooterAtas .Kolom4{
    width: 350px;
    height: 500px;
    border-bottom: 1px solid rgb(148, 148, 148);
    float: left;
}

.FooterAtas .Kolom4 h1{
    margin-left: 20px;
    margin-top: 90px;
    margin-bottom: 50px;
    color:white;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.FooterAtas .Kolom4 img{
    width: 100px;
    height: 75px;
    clip-path: inset(0px 12.5px);
    border-radius: 20px;
}

.FooterAtas .Kolom4 .K4Baris1 {
    margin-left: 10px;
    margin-bottom: 20px;
}

.FooterAtas .Kolom4 .K4Baris2 {
    margin-left: 10px;
    margin-bottom: 20px;
}

.K3Bawah a{
    text-decoration: none;
    color: #aab1b7;
}

.FooterBawah{
    width: 1500px;
    height: 100px;
}

.FooterBawah h1{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #aab1b7;
    font-size: 15px;
    padding-top: 40px;
}

.FooterBawah h1 a{
    text-decoration: none;
    color:#fb313b;
}






